.breadcrumb
  = render_breadcrumbs
.content
  .row
    .box
      .box-header
        %h3.box-title
          = "Report of the week #{get_begin_end_week_format}"
          .box-tools
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tbody
            %tr
              %td Project
              %td Description
              %td Duration
              %td Billable
            = render partial: "reports/weekly_reports/task", collection: @tasks
      .box-footer.clearfix
        = render "shared/pagination", list: @tasks
