= render "shared/breadcrumb" 
- if @projects.empty? 
  = render "tasks/project_empty_state"
- elsif @categories.empty?
  = render "tasks/category_empty_state"
- else
  = render "tasks/form", {projects: @projects, categories: @categories}
  = render "tasks/task_list", tasks: @tasks


= javascript_include_tag 'tasks/index.js'