%aside.main-sidebar
  %section.sidebar
    =# render "shared/user_information"
    .user-panel
      .pull-left.image
        %p
          = image_tag 'clock.png', alt: 'billable', height: '50px', width: '50px', class: ''
      .pull-left.info.text-center.h1
        %p
          = @total_billable_hours      
    .box-body
      .form-group
      = link_to "javascript:;", class: "btn btn-default btn-block" do
        = "Buscar"
        %i.fa.fa-fw.fa-search
      -# select_tag :q, options_for_select(User.doctors.collect{ |u| [u.full_name, u.id] }), {id: :search, autocomplete: "off", include_blank: true, data: {url_to_redirect: doctors_path}, class: "form-control select2"}
      -# %input.form-control{name: "q", placeholder: "Doctores...", type: "text", id: "search", autocomplete: "off"}/
      -# %span.input-group-btn
      -#   %button#search-btn.btn.btn-flat{:name => "search", :type => "submit"}
      -#     %i.fa.fa-search
    %ul.sidebar-menu
      %li.header ACCIONES
      %li.treeview{class: "active"}
          %i.fa.fa-fw.fa-tasks
          %span Tasks

        = link_to user_projects_path(current_user) do
          %i.fa.fa-fw.fa-book
          %span Projects


- content_for :javascript do
  =# javascript_include_tag ""
