.content
  .row
    .box
      .box-header
        %h3.box-title
          = "#{@project.name} #{I18n.t('categories.title')} "
          = link_to I18n.t('categories.create_new_button'), new_user_project_category_path, class: 'btn btn-default'
          .box-tools
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tbody
            %tr
              %th Category
              %th Description
              %th Actions
            = render partial: "category", collection: @categories
      .box-footer.clearfix
        = render "shared/pagination", list: @categories