
.content
  .row
    .box
      .box-header
        %h3.box-title
          = "Timeshee to Export #{get_begin_end_week_format}"
          .box-tools
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tbody
            %tr
              %td 
              %td Project
              %td Description
              %td Billable
            =   render partial: "exports/timesheet_exports/task", collection: @tasks
      .box-footer.clearfix
        = render "shared/pagination", list: @tasks
      = form_for 'exports', url: exports_timesheet_exports_path, method: :post,  html: {class: " box-footer clearfix  center js-submit-form"}   do |form|
        .form-group
          = form.text_field :tasks_ids, class: " hidden hiddenField"
          .col-md-2
            = form.submit "Export", class: "btn btn-success btn-lg pull-right btn-block"
= javascript_include_tag 'exports/show.js'
          

        

