.content
  .row
    .box
      .box-header
        %h3.box-title
          = "#{I18n.t('projects.title')} " 
          = link_to I18n.t('projects.create_new_button'), new_user_project_path, class: 'btn btn-default'
          .box-tools
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tbody
            %tr
              %th Project
              %th Description
              %th Actions
            = render partial: "project", collection: @projects
      .box-footer.clearfix
        = render "shared/pagination", list: @projects